.about {
    padding-bottom: 2rem;

    &_bio_img {
        height: 50vh;
        width: 100%;
        background: linear-gradient(to right, rgba($primary-color, 0.9), rgba($primary-color, 0.3)), url('../../public/img/4x.jpeg') top center;
        background-size: cover;
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        align-items: center;
    }


    &_bio {

        width: 80%;
        text-align: center;

        .text_secondary {
            padding-bottom: 1rem;
        }

        p {
            line-height: 1.4rem;
            margin-bottom: 20px;
        }

    }

    .job_container {
        width: 60%;
        margin: 2rem auto;

        .jobs {
            width: 100%;
            margin-bottom: 2rem;
            display: grid;
            grid-template-columns: 1fr;
            grid-gap: 2rem;

            &_job {
                background: lighten($primary-color, 10%);
                padding: 0.5rem;
                border-bottom: 5px solid $action-color;

                h2,
                h3 {
                    margin: 0.5rem 0;
                }

                h6 {
                    margin: 0.3rem 0;
                }

            }
        }
    }


}