* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@mixin transition-ease {
    transition: all 0.5s ease-in-out;
}

@mixin media-md {
    @media screen and (max-width: 991px) {
        @content;
    }
}

@mixin media-sm {
    @media screen and (max-width: 500px) {
        @content;
    }
}

// @mixin media-mix {
//     @media screen and (max-width: 992px) {
//         @content;
//     }
// }