@font-face {
    font-family: 'AvenirNext-Regular';
  src: url('../Fonts/avenir_next/AvenirNextLTPro-Regular.otf');
}
@font-face {
    font-family: 'AvenirNext-Bold';
  src: url('../Fonts/avenir_next/AvenirNextLTPro-Bold.otf');
}

@font-face {
    font-family: 'WorkSans-Regular';
    src: url('../Fonts/WorkSans/WorkSans-Regular.ttf');
  }
  
  @font-face {
    font-family: 'WorkSans-Bold';
    src: url('../Fonts/WorkSans/WorkSans-Bold.ttf');
  }
  
  @font-face {
    font-family: 'WorkSans-Medium';
    src: url('../Fonts/WorkSans/WorkSans-Medium.ttf');
  }
  
  @font-face {
    font-family: 'WorkSans-SemiBold';
    src: url('../Fonts/WorkSans/WorkSans-SemiBold.ttf');
  }

  
@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../Fonts/montserrat/Montserrat-Regular.ttf');
  }
  
  @font-face {
    font-family: 'Montserrat-Bold';
    src: url('../Fonts/montserrat/Montserrat-Bold.ttf');
  }
  
  @font-face {
    font-family: 'Montserrat-Medium';
    src: url('../Fonts/montserrat/Montserrat-Medium.ttf');
  }