.menu {
    width: 100%;

    &.open {
        height: 50px;
        background: $alt-color;
        box-shadow: 10px 10px 19px rgba(0, 0, 0, 0.32) !important;
        @include transition-ease
    }

    &_btn {
        visibility: hidden;
    }

    .nav {
        position: fixed;
        width: 90vw;
        right: 0;
        left: 0;
        top: 0;
        margin: auto;
        visibility: visible;


        .menu_nav {
            display: flex;
            width: 100%;
            margin: auto;
            justify-content: flex-end;
            // flex-flow: row wrap;
            // align-items: center;
            // align-items: flex-end;
            // height: 100vh;
            overflow: hidden;
            // background: $alt-color;
            list-style-type: none;
            // padding-right: 1rem;
            // transform: translateY(0);
            @include transition-ease;

            // &.open {
            //     transform: translateY(0);
            // }

            &__item {
                transform: translateX(0);
                // @include transition-ease;

                &.open {
                    transform: translateX(0);
                }
            }

            &__link {
                display: inline-block;
                font-size: 1rem;
                text-transform: uppercase;
                padding: 1.2rem 0.5rem;
                font-weight: 300 !important;
                @include transition-ease;

                &.active {
                    color: $action-color;
                }

                &:hover {
                    color: $action-color;
                }
            }
        }
    }
}


@for $i from 1 through 4 {
    .menu_nav__item:nth-child(#{$i}) {
        transition-delay: ($i * 0.1s) + 0.2s;
    }
}