.sm_spinner_cont {
    width: 100%;
    // height: calc(100vh - 210px);
    display: flex;
    // flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

.md_spinner {
    width: 25px;
    height: 25px;
    border: 4px solid $action-color;
    border-radius: 50%;
    border-top-color: transparent;
    animation: spinner 1.5s infinite;
    margin-right: 5px;
}
@keyframes spinner {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.spin_text {
    // font-size: 20px;
    animation: opc 1.5s infinite;
}

@keyframes opc {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
